@model IEnumerable<Soccer.Web.Data.Entities.TeamEntity>

@{
    ViewData["Title"] = "Index";
}

<div class="card border-danger">
    <div class="card-header">
        <div class="card-title text-danger"><h5> Teams List </h5></div>

    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table table-striped" id="TeamTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LogoPath)
                    </th>
                    <th>
                        <a class="btn btn-sm btn-primary" asp-action="Create"><i class="fas fa-plus-circle"></i> Create New</a>
                        @*<a href="#addTeamModal" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fas fa-plus-circle"></i> Add New</a>*@
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.LogoPath))
                            {
                                <img src="@Url.Content(item.LogoPath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                            }

                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm"><i class="fas fa-pencil-alt"></i> </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm"><i class="fas fa-list-alt"></i> </a>
                            <button data-id="@item.Id" class="btn btn-outline-danger btn-sm deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--Delete modal form-->
<partial name="_DeleteDialog" />

<!--Add modal form-->
<div id="addTeamModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Teams" asp-action="Create" id="addteam">
                <div class="modal-header">

                    <h5 class="modal-title">Add Team</h5>

                    <button type="button" class="close" data-dismiss="modal" ari-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Team Name</label>
                        <input type="text" class="form-control" required name="Name" id="Name" maxlength="50" />
                    </div>
                    <div class="form-group">
                        <label>Team Logo</label>
                        <input type="text" class="form-control" name="LogoPath" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" value="cancel" />
                    <input type="submit" class="btn btn-success" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {


    <script type="text/javascript">
        $(document).ready(function () {
            $('#TeamTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Teams/Delete/' + item_to_delete;
            });
        });
    </script>




}

